{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2014-2020
The MIT License, http://opensource.org/licenses/MIT
#}

{% extends 'default_layout.html.twig' %}

{% block content %}

{% if file_extensions is not empty %}

                        <table class="ui celled striped selectable compact table">

                            <thead>

                                <tr>
                                    <th class="four wide">File Name</th>
                                    <th class="four wide">Icon Class</th>
                                    <th class="two wide">Icon</th>
                                    <th class="four wide">Icon Class (Outline)</th>
                                    <th class="two wide">Icon (Outline)</th>
                                </tr>

                            </thead>

                            <tfoot class="mobile hidden">

                                <tr>
                                    <th>File Name</th>
                                    <th>Icon Class</th>
                                    <th>Icon</th>
                                    <th>Icon Class (Outline)</th>
                                    <th>Icon (Outline)</th>
                                </tr>

                            </tfoot>

                            <tbody>

    {% for ext in file_extensions %}
        {% set file_name = 'x.' ~ ext %}
                                <tr>
                                    <td>{{ file_name }}</td>
                                    <td>file {{ file_type_icon(file_name) }} icon</td>
                                    <td><i class="file {{ file_type_icon(file_name) }} big icon"></i></td>
                                    <td>file {{ file_type_icon(file_name) }} outline icon</td>
                                    <td><i class="file {{ file_type_icon(file_name) }} outline big icon"></i></td>
                                </tr>
    {% endfor %}

                            </tbody>

                        </table>

{% endif %}

{% endblock %}
